/*!
 * 
 * Sharify Style
 * 
*/ 

@import 'iconfont';

.share {
	text-align: center;
	
	.share-icon {
		$icon-size: 20px;
		display: inline-block;
		width: $icon-size;
		height: $icon-size;
		line-height: $icon-size;
		padding: .3em;
		border: 1px solid #000;
		border-radius: 100%;
		margin: 0 .2em;

		font-size: 1.3em;
		color: #000;

		// text-indent: 999px;
		text-decoration: none;
		overflow: hidden;
	}
}